* {
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    text-align: center;
}
h1 {
    color: darkred;
    font-size: 2em;
    margin: 15px 0px;
}
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.recipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color:beige;
    padding: 20px;
    border-radius: 5px;
}

img {
    width: 200px;
}

a {
    text-decoration: none;
}

.btn {
    padding: 5px 15px;
    background-color: darkblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}